CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

day[0-2][0-9]
day[0-2][0-9]_*
!*.cpp

data/*
*.bin
